<div class="container-fluid">
  <div cdkDropListGroup class="row">
    <div
      class="col-sm-6 col-lg-3 mb-3"
      *ngFor="let column of boardService.getBoard$() | async"
    >
      <!-- Column Title -->
      <div class="p-2 shadow-sm column-header">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="m-0">{{ column.title }}</h2>
          <!-- <button
            mat-icon-button
            class="icon-delete"
            (click)="onDeleteColumn(column.id)"
          >
            <mat-icon style="font-size: 20px">delete</mat-icon>
          </button> -->
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu class="options-column" #menu="matMenu">

            <button
            mat-menu-item
            class="icon-delete"
            (click)="onDeleteColumn(column.id)"
          >
          Delete
          </button>

            <!-- Color Panel -->
            <span class="color-painel-title">Change color</span>
            <app-color-panel (emitColor)="onColorChange($event, column.id)" ></app-color-panel>

          </mat-menu>
        </div>
        <!-- <div>

        </div> -->
      </div>

      <!-- Add New Card To Column -->
      <app-dialog
        (emitText)="onAddCard($event, column.id)"
        [question]="'Add new card in ' + column.title + ' column'"
      >
        <button mat-raised-button class="w-100 mb-1 btn-add">+</button>
      </app-dialog>

      <div
        cdkDropList
        [cdkDropListData]="column.list"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          cdkDrag
          class="example-box"
          [ngStyle]="{ background: column.color }"
          *ngFor="let item of column.list"
        >
          <app-board-card
            [item]="item"
            (emitText)="onAddComment($event, column.id)"
            (emitCardItem)="onChangeLike($event, column.id)"
            (emitDeleteCard)="onDeleteCard($event, column.id)"
          >
            <div *ngFor="let comment of item.comments">
              <app-comment-item
                [comment]="comment"
                (emitComment)="onDeleteComment($event, column.id, item)"
              ></app-comment-item>
            </div>
          </app-board-card>
        </div>
      </div>
    </div>
  </div>
</div>


